---
openapi: "3.0.1"
info:
  title: "MyGPT API test"
  description: "This is openapi file for mygpt apis."
  version: 3.0.1
servers:
- url: "http://walletgpt.info:5050"
tags: 
  - name: brain
paths:
  /brains/:
    post:
      tags: 
        - brain
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBrainProperties'
      responses:
        "200":
          description: "Generated by SwaggerHub Explore"
      security:
      - TokenCredentials: []
  /upload:
    post:
      tags: 
        - upload
      parameters:
        - in: query
          name: brain_id
          required: true
          description: ID for the brain
          schema:
            type: string
            default: "780dc579-49a2-4b2f-82d0-5cca26515179"
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                uploadFile:
                  type: string
                  format: binary
      responses:
        "200":
          description: "Generated by SwaggerHub Explore"
      security:
      - TokenCredentials: []
components:
  schemas:
    CreateBrainProperties:
      type: object
      properties:
        description:
          type: string 
          default: "Swagger API test"
        name:
          type: string
          default: "Default swagger brain"
        model:
          type: string
          default: "gpt-3.5-turbo-0613"
        max_tokens:
          type: integer
          default: 378
        openai_api_key:
          type: string
          default: "sk-"
        temperature:
          type: string
          default: "0.75"
  securitySchemes:
    TokenCredentials:
      type: "http"
      scheme: "bearer"