---
openapi: "3.0.1"
info:
  title: "brain2"
  description: "API generated by SwaggerHub Explore"
  version: "3.0.0"
servers:
- url: "http://walletgpt.info:5050"
paths:
  /brains/:
    post:
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              required:
              - "description"
              - "max_tokens"
              - "model"
              - "name"
              - "openai_api_key"
              - "temperature"
              type: "object"
              properties:
                name:
                  type: "string"
                description:
                  type: "string"
                max_tokens:
                  type: "integer"
                model:
                  type: "string"
                openai_api_key:
                  type: "string"
                temperature:
                  type: "string"
              additionalProperties: false
            examples:
              example:
                value: "{\r\n    \"name\": \"Swagger API brain\",\r\n    \"description\"\
                  : \"Default swagger test\",\r\n    \"max_tokens\": 378,\r\n    \"\
                  model\": \"gpt-3.5-turbo-0613\",\r\n    \"openai_api_key\": \"Default\
                  \ swagger brain\",\r\n    \"temperature\": \"0.75\"\r\n}"
      responses:
        "200":
          description: "Generated by SwaggerHub Explore"
      security:
      - TokenCredentials: []
components:
  securitySchemes:
    TokenCredentials:
      type: "http"
      scheme: "bearer"