# Administrator
ADMIN_EMAIL = <change-me>

# Authentication
ALGORITHM = "HS256"
ACCESS_TOKEN_EXPIRE_MINUTES = 30

#Supabase
SUPABASE_URL=<change-me>
SUPABASE_SERVICE_KEY=<change-me>
ANTHROPIC_API_KEY=null
JWT_SECRET_KEY=<change-me>
AUTHENTICATE=true

#Postgres
PG_DATABASE_URL=notimplementedyet
PG_DATABASE_NAME=<change-me>
PG_HOST=<change-me>
PG_USER=<change-me>
PG_PASSWORD=<change-me>
PG_PORT=<change-me>

#OpenAI
OPENAI_API_KEY=<change-me>
MODEL="gpt-3.5-turbo-0613"
ANNOTATION_MODEL="gpt-4"
QA_GEN_MODEL="gpt-4"
TEMPERATURE=0.0
MAX_TOKENS=256
ANNOTATION_MAX_TOKENS=4096

#Qdrant
QDRANT_LOCATION=<change-me>
QDRANT_PORT=6333
ENCODER_MODEL='all-MiniLM-L6-v2'

GOOGLE_APPLICATION_CREDENTIALS=<change-me>
GOOGLE_CLOUD_PROJECT=<change-me>

MAX_BRAIN_SIZE=52428800
MAX_REQUESTS_NUMBER=200
MAX_BRAIN_PER_USER=5

#Private LLM Variables
PRIVATE=False
MODEL_PATH=./local_models/ggml-gpt4all-j-v1.3-groovy.bin

#RESEND
RESEND_API_KEY=<change-me>
RESEND_EMAIL_ADDRESS=onboarding@resend.dev

#ZEP
ZEP_API_URL=<change-me>

#ZENROWS
ZENROWS_API_KEY=<change-me>

#PROXYCURL
PROXYCURL_API_KEY=<change-me>